.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        align-items: center;
    }

}